@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body
{
margin: 0;
font-family: 'Montserrat', sans-serif;
background-color: black;
color: white;
text-align: center;
}

#bar
{ 
	margin:0;
	padding: 20px 0;
	background-color: steelblue;
	font-family: inherit;
	font-weight: normal;
}

button
{
	border:none;
	background-color: white;
	margin-top: 0;
	font-family: inherit;
	font-size: 15px;
	font-weight: bolder;
	letter-spacing: 1px;
	height:100%;
}

button:hover
{
	background-color: steelblue;
	color: white;
}

.container
{
	max-width: 600px;
	margin: 0 auto;
}

.square
{
	width:30%;
	padding-bottom: 30%;
	margin:1.66%;
	border-radius: 20px;
	float: left;
	background-color: black;
}

.selected
{
background-color: steelblue;
color:white;
}

#message
{
	color: black;
	display: inline-block;
	width:350px;
}

#stripe
{
	background-color: white;
	text-align: center;
	height:25px;
}

#colorDisplay
{
font-size: 200%;
}


